@charset "UTF-8";

/* 좋아요 버튼 */

.button-like {
	border: 2px solid #8a8a8a;
	background-color: transparent;
	text-decoration: none;
	padding: 7px; /* like버튼 크기 조정 */
	position: relative;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	border-radius: 3rem;
	color: #8a8a8a;
	transition: all ease 0.4s;
}

.button-like span {
	margin-left: 0.2rem;
}

.button-like .fa, .button-like span {
	transition: all ease 0.4s;
}

.button-like:focus {
	background-color: transparent;
}

.button-like:focus .fa, .button-like:focus span {
	color: #8a8a8a;
}

.button-like:hover {
	border-color: #cc4b37;
	background-color: transparent;
}

.button-like:hover .fa, .button-like:hover span {
	color: #cc4b37;
}

.liked {
	background-color: #cc4b37;
	border-color: #cc4b37;
}

.liked .fa, .liked span {
	color: #fefefe;
}

.liked:focus {
	background-color: #cc4b37;
}

.liked:focus .fa, .liked:focus span {
	color: #fefefe;
}

.liked:hover {
	background-color: #cc4b37;
	border-color: #cc4b37;
}

.liked:hover .fa, .liked:hover span {
	color: #fefefe;
}

i{
	font-style: normal; /* win . 으로 추가한 window기본 이모티콘의 하트가 기울여지게 보여서 설정  */
}

.userImg {
 
 width: 250px;
 height: 250px;
 border-radius: 70%;
 box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.4);
 
 }
 
 .page-content {
 
 font-size: 40px;
 font-weight: bolder;
 color: #999;
 text-align: center;
 }
